:root {
/* Background utama */
--ink: #F5F5FF;          
--bg: #010325;            
--bg-blue: #040631;     
--electric-blue: #0d0f5a; /* Aksen neon */
--neon-purple: #797DEF;   
--neon-blue: #2228E3;     
--neon-cyan: #0007CF;     /* Teks */
--text-light: #F5F5FF;    
--text-muted: #BCBEF7;    /* Button */
--btn-primary: #797DEF;   
--btn-hover: #0006AF;     
--btn-alt: #2228E3;     
}
#sideMenu{
    display: none;
}
.menu-btn{
    display: none;
}
/* hero section */
.hero-section {
    display: flex;
    gap: 50px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.hero-section > .content {
    text-align: start;
    padding: 10px;
    max-width: 500px;
}

.content h5 {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    color: #79E7EF;
    background: rgba(121, 231, 239, 44%);
}

.content span {
    letter-spacing: 1px;
    font-size: medium;
    font-weight: 300;
}

.content p {
    text-align: justify;
    max-width: 400px;
}
.content-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.content-footer button {
    display: inline-block;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background-color: #797DEF;
    opacity: 80%;
    transition: background 0.3s;
    border: none;
    font-size: 1rem;
}
.social {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;   
    height: 25px;   
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: #fff;   
    font-family: 'Lato', sans-serif;
    background-color: rgba(19, 33, 230, 0.05);
    border: 2px solid hsl(238, 75%, 20%);
    transition: all 0.4s ease;

}
.social a:hover{
    box-shadow: 0px 0px 10px rgb(30, 37, 236); 
    transform: scale(1.2);
}
.content-footer button:hover {
    background-color: #666ad6;
}

.hero-img {
    display: block;
    width: 350px;
    height: 350px;
    animation: upDown 8s infinite ease-in-out;
    will-change: transform;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


h2 {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 15px;
    border-radius: 10px;
    letter-spacing: 5px;
    color: #79E7EF;
    background-color: rgba(121, 231, 239, 44%);
}
/* about */
.unit-about {
    text-align: justify;
    font-size: 16px;
}
.photo {
    float: right;
    width: 380px;
    margin: 0 0 20px 30px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}
.clear {
    clear: both;
}
/* info section */
.info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 25px;
}
.info-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(19, 33, 230, 0.05);
    border: 1px solid rgba(9, 82, 177, 0.2);
    border-radius: 8px;
    padding: 10px 15px;
    transition: 0.3s;
}
.info-card:hover{
    border-color: #3da9fc;
    box-shadow: 0 0 10px rgba(61, 169, 252, 0.6);
}
.icon {
    font-size: 20px;
}
.info-card p {
    font-size: 14px;
    line-height: 1.6;
}
/* award section */
.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    border-radius: 20px;
    background-color: #4ea8de;
    transform: translateX(-50%);
}

.timeline-row {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;
    margin: 30px 0;
    position: relative;
}

.timeline-item {
    opacity: 0;
    transition: all 0.8s ease-out;
}

.timeline-item.left {
    text-align: right;
    transform: translateX(-100px);
}

.timeline-item.right {
    text-align: left;
    transform: translateX(100px);
}

.timeline-dot {
  position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0b1630;
    border: 2px solid #4ea8de;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #ffd700; /* emas */
    font-size: 20px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.timeline-dot::before {
    content: "";
    position: absolute;
    background-color: #4ea8de;
    z-index: -1;
    left: 50%;
    top: -100px;
    transform: translateX(-40%);
}

.timeline-item.show {
    opacity: 1;
    transform: translateX(0);
}
.timeline-row p{
    line-height: 1.5rem;
}

/* Animasi aktif */
.timeline-item.show {
    opacity: 1;
    transform: translateX(0);
}
/* profile */
.card-profile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap:  25px 10px;
    margin-top: 1rem;
}
.card-profile .card{
    position: relative;    
    align-items: center;
    border-radius: 10px;
    width: 200px; 
    padding: 16px 14px; 
    border-radius: 10px;
    background: linear-gradient(180deg, #2F3AFF 0%, #010325 100%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-profile .card:hover{
    border-color: #3d4afc;
    box-shadow: 0 0 20px rgba(17, 14, 211, 0.6);
    transform: scale(1.05);
}
.card .card-name{
    position: absolute;
    left: -20px;
    top: -15px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    background: #BCBEF7;
    color: #070707;
    z-index: 5;  
}
.card-profile .card-img{
    width: 200px;
    height: 170px;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.card .card-dec{
    margin-top: 10px;
    text-align: left;
}
.card-dec p{
    margin:  10px 0px 0px;
}
.card-dec h4{
    font-size: 15px;
    margin: 0;
}
/* diskrografi section*/
.diskrografi-content{
    display: flex; 
    justify-content: start;
    width: 100%; 
    overflow-x: scroll; 
    gap: 20px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    padding: 20px;
}
.diskrografi-content::-webkit-scrollbar {
    display: none;
}
.mv-card {
    position: relative;
    flex: 0 0 auto;
    width: clamp(260px, 36vw, 350px);         
    height: clamp(150px, 28vh, 200px); 
    overflow: hidden;
    border-radius: 15px;
    scroll-snap-align: start; 
    background: linear-gradient(180deg,#06102a,#07112e);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mv-card:hover{
    border-color: #040631;
    box-shadow: 0 0 20px rgba(17, 14, 211, 0.6); 
}
.mv-card video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.mv-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    z-index: 1;
}
.mv-card .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    z-index: 2;
}
.album-info {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.album-cover {
    width: 80px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.album-text{
    text-align: left;
}
.album-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.album-text p {
    margin: 6px 0;
    font-size: 12px;
    text-align: left;
}
.AlbumCard{
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    scroll-snap-align: start; 
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.AlbumCard:hover{
    background: rgba(19, 33, 230, 0.05);
}
.AlbumCard:hover .spotify-icon{
    bottom: 10px; 
    opacity: 1;
}
.AlbumCard .spotify-icon:hover {
    cursor: pointer;
    color: #76eea0;
}
.CardImge{
    width: 200px; 
    height: 200px; 
    position: relative;
}
.CardImge img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}
.spotify-icon {
    position: absolute;
    bottom: -25px;
    left: 80%;
    opacity: 0;
    right: 15px;    
    width: 50px;        
    height: 50px;
    text-align: center;
    line-height: 50px;      
    font-size: 30px; 
    border-radius: 50%;
    color: #1DB954;
    background: #070707;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}
.album-text{
    padding: 8px 0px;
}
.AlbumCard .album-text h4{
    margin: 0;
    display: -webkit-box; 
    max-width: 200px;       
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;           
}
/* Animasi */
@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
 }
@media (max-width: 768px) {
    .nav-menu{
        display: none !important;
    }
    .menu-btn{
        display: block;
        font-size: 20px;
        background: none ;
        border: none;
        color: white;
    }
    #sideMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -21rem; 
        width: 200px;
        height: 100%;
        background: var(--bg-blue); 
        color: white;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: right 0.5s ease;
        z-index: 9999;
    }
    #sideMenu.active {
        right: 0; 
    }
    /* Close Button */
    #sideMenu .close-btn{
        position: absolute;
        display: block;
        background: none;
        border: none;
        color: #dfdbdb;
        font-size: 30px;
        right: 20px;
        top: 20px;
        margin-top: 15px ;
        cursor: pointer;
    }
    #sideMenu ul{
        display: flex;
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }
    #sideMenu li {
        list-style: none;
    }
    #sideMenu a {
        color: white;
        text-decoration: none;
        padding: 8px;
        display: block;  
        transition: background 0.3s;
    }

    #sideMenu a:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
    section{
        padding: 10px 0px;
    }
    .hero-section {
        flex-direction: column; /* susun ke bawah */
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 1rem;
    }

    .hero-section > .content {
        max-width: 90%;
        text-align: center;
        padding: 0;
    }

    .content p {
        max-width: 100%;
        font-size: 0.95rem;
    }

    .hero-img {
        width: 300px;
        height: 300px;
    }
    .content-footer{
        justify-content: center;
    }
    .photo {
        float: none;
        display: block;
        margin: 0 auto 20px;
        width: 90%;
    }
    .info-section {
        grid-template-columns: 1fr;
    }
    .clear {
        clear: none;
    }
    .diskrografi-content {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 5px;             
        padding: 0;           
    }
    .mv-card {
        flex: 0 0 100%;     
        width: 100%;
        height: 200px;
        border-radius: 12px;
        scroll-snap-align: start; 
    }
    .album-text h3 { 
        font-size: 15px;
        text-align: left;
    }
    .album-text p { 
        font-size: 12px;
        text-align: left; 
    }
    .CardImge{
        width: 150px; 
        height: 150px;
    }
    .spotify-icon{
        right: 10px;
        bottom: 10px; 
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 40px; 
    }
    .AlbumCard .album-text h4{
        max-width: 150px; 
        font-size: 13pxs;
    }
}